<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.wequick.small">

    <!-- permission for web view -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <!-- Stub Activities -->
        <!-- 1 standard mode -->
        <activity android:name=".A" android:launchMode="standard"/>
        <activity android:name=".A1" android:theme="@android:style/Theme.Translucent"/>
        <!-- 4 singleTop mode -->
        <activity android:name=".A10" android:launchMode="singleTop"/>
        <activity android:name=".A11" android:launchMode="singleTop"/>
        <activity android:name=".A12" android:launchMode="singleTop"/>
        <activity android:name=".A13" android:launchMode="singleTop"/>
        <!-- 4 singleTask mode -->
        <activity android:name=".A20" android:launchMode="singleTask"/>
        <activity android:name=".A21" android:launchMode="singleTask"/>
        <activity android:name=".A22" android:launchMode="singleTask"/>
        <activity android:name=".A23" android:launchMode="singleTask"/>
        <!-- 4 singleInstance mode -->
        <activity android:name=".A30" android:launchMode="singleInstance"/>
        <activity android:name=".A31" android:launchMode="singleInstance"/>
        <activity android:name=".A32" android:launchMode="singleInstance"/>
        <activity android:name=".A33" android:launchMode="singleInstance"/>

        <!-- Web Activity -->
        <activity android:name=".webkit.WebActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:hardwareAccelerated="true"/>
    </application>
</manifest>
